<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="principal">
        <img src="/images/logo-mercado-liebre.svg" width="120px" alt="">
        <div class="buscador">
            <form action=""><input type="text" placeholder="Buscar productos, marcas y algo mas..."> <button><i class="fas fa-search"></i></button><br></form>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav >
            <ul class="categorias">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="categorias">
                <li><a href="">Créa tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>
    <main class="main">
        <img class= "banner" src="/images/img-home-banner.jpg" width="300" alt="">
        <section>
            <h2>Basado en tu última visita</h2>
            <article class="articulos">
                <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$6.770</p>
                    <span class="oferta">40% OFF</span>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$230.000</p>
                    <span class="oferta">20% OFF</span>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$70.500</p>
                    <span class="oferta">10% OFF</span>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$23.200</p>
                    <span class="oferta">5% OFF</span>
                    <h4>SamrtTv Samsung 43</h4>
                </div>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article class="articulos">
                <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$6.770</p>
                    <span class="oferta">40% OFF</span>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$230.000</p>
                    <span class="oferta">20% OFF</span>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$70.500</p>
                    <span class="oferta">10% OFF</span>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articulos">
                <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="">
                <div class="truck">
                    <span class="truck-border"><i class="fas fa-truck" style= color:#39b54a;></i></span>
                    <p>$23.200</p>
                    <span class="oferta">5% OFF</span>
                    <h4>SamrtTv Samsung 43</h4>
                </div>
            </article>
        </section>

    </main>
    <footer>
        <article class="foott">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="foott">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="foott">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <article class="copy">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>